body{
    font-family: Helvetica;
    margin: auto;
    font-size: 14px;
    background-color: #e2dddd;
    background-image: url('Elements/background.png');
}

ul{ 
   font-size: large;
}

b{
    font-size: larger;
}

h1{
    font-family:serif;
}

#header{
    position: fixed;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #fafafa;
    line-height: 25px;
    font-size: 15px;
    padding-bottom: 10px;
}

#body{
    margin-top: 75px;
    padding-top: 125px;
    width: 100%;
    margin:auto;
    max-width: 1024px;
    width:70%
}

.stats{
    margin:auto;
    text-align: center;
    background-color: lightskyblue;
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
}
.education{
    margin:auto;
    background-color: rgb(100, 170, 213);
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
}

.projects{
    background-color: steelblue;
    padding-top: 10px;
    padding-bottom: 125px;
    padding-left: 100px;
    padding-right: 100px;
    color:white;
}

.resume{
    margin:auto;
    background-color: rgb(81, 152, 196);
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom:10px;
    text-align: center;
}

.about{
    margin:auto;
    background-color: lightskyblue;
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
}

.achievements{
    margin:auto;
    background-color: rgb(100, 170, 213);
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
}

.achievements a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.contact{
    margin:auto;
    background-color: steelblue;
    padding-top:10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 25px;
    color:white;
}

.learnMoreBtn{ 
    text-align:center;
}

.learnMoreBtn a{
    border: 2px solid white;
    padding: 5px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.skill{
    margin:3px;
    display: inline-block;
    border: 1px solid darkslateblue;
    padding: 5px;
    border-radius: 10px;
}

.skillWhite{
    margin:3px;
    display: inline-block;
    border: 1px solid white;
    padding: 5px;
    border-radius: 10px;
}

.right{
    float: right;
    font-size: large;
}

.icon{
    width: 56px;
    height: 56px;
    float: left;
    margin-left: -65px;
    background-color: #fafafa;
    padding:2px;
    border-radius: 30px;
}

.demo{
    width:200px;
    margin-left: -65px;
    margin-right: 25px;
    float: left;
}

